<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Policy Navigator</title>
  <meta name="description" content="Test implementation for an interface with the database">
  <meta name="author" content="Moises Terrones">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout-validation/2.0.2/knockout.validation.min.js"></script>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
    <h1 class="display-3 text-center m-4">Policy Navigator</h1>

    <div class="row justify-content-center">
        <button type="button" class="btn btn-secondary btn-lg m-3" data-bind="click: toggleNewPolicy">Create new Policy</button>
        <button type="button" class="btn btn-secondary btn-lg m-3" data-bind="click: toggleInvoices">Request Policy</button>
        <button type="button" class="btn btn-secondary btn-lg m-3" data-bind="click: togglePolicies">List Policies</button>
    </div>

    <!-- New policy menu handling -->
    <div class="container-fluid" data-bind="fadeVisible: visibleNewPolicy()">
        <div class="row m-2">
            <div class="col">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Policy Name</label>
                    </div>
                    <input type="text" class="form-control" data-bind="value: newPolicyName">
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Date</span>
                    </div>
                    <input type="date" class="form-control" data-bind="value: newPolicyDate">
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" data-bind="checked: existingInsured" id="ex-insured">
                    <label class="form-check-label" for="ex-insured">Existing Insured</label>
                </div>
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Insured</span>
                    </div>
                    <!-- ko if: !existingInsured() -->
                    <input type="text" class="form-control" data-bind="value: newPolicyInsured" />
                    <!-- /ko -->
                    <!-- ko if: existingInsured -->
                    <select class="custom-select" data-bind="options: $root.insureds, value: newPolicyInsured, optionsText: 'name'"></select>
                    <!-- /ko -->
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" data-bind="checked: existingAgent" id="ex-agent">
                    <label class="form-check-label" for="ex-agent">Existing Agent</label>
                </div>
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Agent</span>
                    </div>
                    <!-- ko if: !existingAgent() -->
                    <input data-bind="value: newPolicyAgent" class="form-control">
                    <!-- /ko -->
                    <!-- ko if: existingAgent -->
                    <select class="custom-select" data-bind="options: $root.agents, value: newPolicyAgent, optionsText: 'name'"></select>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Annual Premium</label>
                    </div>
                    <input type="number" class="form-control" data-bind="value: newPolicyPremium">
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Billing Schedule</label>
                    </div>
                    <select class="custom-select" data-bind="options: $root.billingSchedules, value: newPolicyBilling"></select>
                </div>
            </div>
        </div>
        <div class="row justify-content-center m-2">
            <button type="button" class="btn btn-secondary btn-lg m-3" data-bind="click: create_policy">Create</button>
        </div>
    </div>

    <!-- Invoices and payments display -->
    <div class="container" data-bind="fadeVisible: visibleInvoices()">
        <div class="row">
            <div class="col">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Policy ID</label>
                    </div>
                    <select class="custom-select" data-bind="options: $root.policies, value: current_policy.policy_id, optionsText: 'policy_number'">
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Date</span>
                    </div>
                    <input type="date" class="form-control" data-bind="value: current_policy.date">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-secondary btn-lg m-3" data-bind="click: current_policy.consult">Request</button>
        </div>
    </div>
    <div class="container" data-bind="fadeVisible: current_policy.invoices().length > 0 && visibleInvoices()">
        <h3 class="display-4 text-center border border-dark p-2 m-3">Policy Status: <strong data-bind="text: current_policy.policy_status"></strong></h3>
        <h3 class="display-4 text-center">Policy Invoices</h3>
        <table class="table table-striped">
            <thead>
                <tr class="text-center">
                    <th scope="col">Bill Date</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Cancel Date</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: current_policy.invoices">
                <tr class="text-center">
                    <td data-bind="text: bill_date"></td>
                    <td data-bind="text: due_date"></td>
                    <td data-bind="text: cancel_date"></td>
                    <td data-bind="text: amount_due"></td>
                </tr>
            </tbody>
        </table>
        <div class="container m-2" data-bind="fadeVisible: visibleInvoices()">
            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                    <label class="input-group-text">Amount</label>
                </div>
                <input type="number" class="form-control" data-bind="value: current_policy.payment_amount">
                <button type="button" class="btn btn-secondary btn-lg" data-bind="click: current_policy.make_payment">Pay</button>
            </div>
        </div>
        <div data-bind="fadeVisible: current_policy.payments().length > 0">
            <h3 class="display-4 text-center">Policy Payments</h3>
            <table class="table table-striped">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Transaction Date</th>
                        <th scope="col">Amount Paid</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: current_policy.payments">
                    <tr class="text-center">
                        <td data-bind="text: transaction_date"></td>
                        <td data-bind="text: amount_paid"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2 class="display-4 text-center m-4" data-bind="fadeVisible: current_policy. amount_due() > 0">Amount Due: <strong>$<span data-bind="text: current_policy.amount_due().toFixed(2)"></span></strong></h2>
    </div>

    <!-- Policies diaplay handling -->
    <div class="container" data-bind="fadeVisible: policies().length > 0 && visiblePolicies()">
        <table class="table table-striped">
            <thead>
                <tr class="text-center">
                    <th scope="col">ID</th>
                    <th scope="col">Policy Number</th>
                    <th scope="col">Effective Date</th>
                    <th scope="col">Annual Premium</th>
                    <th scope="col">Insured</th>
                    <th scope="col">Agent</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: policies">
                <tr class="text-center">
                    <td data-bind="text: id"></td>
                    <td data-bind="text: policy_number"></td>
                    <td data-bind="text: effective_date"></td>
                    <td data-bind="text: annual_premium"></td>
                    <td data-bind="text: insured_name"></td>
                    <td data-bind="text: agent_name"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='invoices_script.js')}}"></script>
</body>
</html>
